
<div class="row" >
        <div class="topDrop" style="width: 2000px">
            <ul class="nav nav-tabs" style="margin-top:-9px;margin-left:-15px;" id="list-home">
              </ul>
          </div>
      </div> <br/><br/>
      <nav class="navbar navbar-expand-xs  fixed-top">
        <a class="navbar-brand"><img src="./assets/logo.png" alt="Pick n Pay"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
                <div  style="margin-left: 920px">
      
                    </div> 
         
        </div>
      </nav>
    
<div class="container"  *ngFor="let prod of products" style="margin-top: 200px" >
    <div class="card-deck mb-4 text-center" style="width: 300px;height: 450px">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
              <p class="card-title pricing-card-title"><strong style="color:maroon"> R {{prod.unitCost}}</strong></p>
              <img [src]="'data:image/jpg;base64,'+ prod.image" style="width: 175px;height: 160px"/>
              <p class="card-title pricing-card-title">{{prod.name}}</p>
              <p> {{prod.description}}</p>
              <br/>
              <br/>
              <button id="cartButton" type="button" (click)="addToTrolley(prod)" class="btn btn-sm btn-block btn-outline-danger">Add To Trolley</button>
            </div>
          </div>
          
    </div>
</div>
<button type="button" (click)=" directToCheckOutPage()" class="btn btn-sm btn-block btn-outline-danger">CheckOut</button>


